*.pyc
*.so
*.egg-info
*.whl
tmp/
/jax_test/aclnn_test/build
/build/lib
/build/bazel*
/build/__editable__.jax-*
/dist/
.trae/
.ipynb_checkpoints
/bazel-*
MODULE.bazel.lock
.jax_configure.bazelrc
/tensorflow
.DS_Store
.mypy_cache/
.pytype/
/docs/build
examples/ffi/build
*_pb2.py
/docs/notebooks/.ipynb_checkpoints/
/docs/_autosummary
.idea
.vscode
.envrc
jax.iml
.bazelrc.user
.hypothesis/

# virtualenv/venv directories
/venv/
/bin/
/include/
/lib/
/share/
